alabaster==0.7.10
alpha-vantage==2.1.0
anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.9.4
asn1crypto==0.24.0
astroid==1.6.3
astropy==2.0.6
attrs==18.1.0
Babel==2.5.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
binscatter==1.0.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.3
boilerpipe==1.3.0.0
bokeh==0.12.16
boto==2.48.0
Bottleneck==1.2.1
cachetools==2.1.0
cdecimal==2.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
clyent==1.2.2
colorama==0.3.9
commonregex==1.5.4
conda==4.5.4
conda-build==3.10.5
conda-verify==2.0.0
configparser==3.5.0
contextlib2==0.5.5
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.2
cytoolz==0.9.0.1
dask==0.17.5
datashape==0.5.4
decorator==4.3.0
distributed==1.21.8
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.4
Flask==1.0.2
Flask-Cors==3.0.4
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
geojson==2.4.1
gevent==1.3.0
glob2==0.6
gmaps==0.8.2
gmpy2==2.0.8
google-api-python-client==1.7.4
google-auth==1.5.0
google-auth-httplib2==0.0.3
googlemaps==3.0.2
graphviz==0.10.1
greenlet==0.4.13
grin==1.2.1
gym==0.10.11
h5py==2.7.1
heapdict==1.0.0
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
imageio==2.3.0
imagesize==1.0.0
imbalanced-learn==0.4.3
imblearn==0.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
Jinja2==2.10
JPype1==0.6.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
jusText==2.2.0
kiwisolver==1.0.1
langdetect==1.0.7
lazy-object-proxy==1.3.1
lime==0.1.1.32
llvmlite==0.23.1
locket==0.2.0
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.1.0
mpmath==1.0.0
msgpack-python==0.5.6
multipledispatch==0.5.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.5.0
numba==0.38.0+0.g2a2b772.dirty
numexpr==2.6.5
numpy==1.14.3
numpydoc==0.8.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.3
packaging==17.1
pandas==0.23.0
pandocfilters==1.4.2
parso==0.2.0
partd==0.3.8
path.py==11.0.1
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
pexpect==4.5.0
phonenumbers==8.10.2
pickleshare==0.7.4
Pillow==5.1.0
pkginfo==1.4.2
pluggy==0.6.0
ply==3.11
prompt-toolkit==1.0.15
psutil==5.4.5
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.3
pyasn1-modules==0.2.2
PyAudio==0.2.7
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pyenchant==2.0.0
pyflakes==1.6.0
pyglet==1.3.2
Pygments==2.2.0
pylint==1.8.4
pyodbc==4.0.23
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
Pyphen==0.9.5
PySocks==1.6.8
pytest==3.5.1
python-dateutil==2.7.3
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.1
ReadabilityCalculator==0.2.37
requests==2.18.4
rope==0.10.7
rsa==3.4.2
ruamel-yaml==0.15.35
scandir==1.7
scikit-image==0.13.1
scikit-learn==0.20.2
scipy==1.1.0
scrubadub==1.2.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==0.6.1
sortedcontainers==1.5.10
Sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.8
SQLAlchemy==1.2.7
statsmodels==0.9.0
subprocess32==3.5.0
sympy==1.1.1
tables==3.4.3
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
textblob==0.10.0
toolz==0.9.0
tornado==5.0.2
tqdm==4.28.1
traitlets==4.3.2
typing==3.6.4
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wordcloud==1.5.0
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.4
xlwings==0.11.8
xlwt==1.2.0
zict==0.1.3
